<h2><%= @job.title %></h2>
<p><%= @job.status %></p>
<p><%= @job.description %></p>
<p><%= @job.company_name %></p>
<p><%= @job.company_email %></p>
<p><%= @job.category %></p>
<p><%= @job.deadline %></p>

<% if @job.status == 'active' %>
  <%= form_with model: @job, local: true do |form| %>
    <%= render 'job_applications_forms/form_job_applications',
        form: form %>

    <div class="actions">
      <%= form.submit 'Submit proposal' %>
    </div>
  <% end %>
<% else %>
  <h4>Applications are closed for this job. Deadline was <%= @job.deadline.to_date %> </h4>
<% end %>
