<div class="container px-4 px-lg-5 mt-5 mb-5 text-center">
    <h1 class="mb-4">Current Applications</h1>
    <div class="row gx-4 gx-lg-5 mb-5 text-start">
    <% @job_applications.each do |job_application| %>
          <div class="col-md-4 mb-5 mt-2">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title"><%= job_application.full_name %></h3>
                    <p class="card-text"><small>education: </small><%= job_application.education %></p>
                    <p class="card-text"><small>born: </small><%= job_application.date_of_birth.to_date %></p>
                    <p class="card-text"><small>email: </small><%= job_application.email %></p>
                </div>
                <div class="card-footer"><%= link_to 'Show', job_job_application_path(@job, job_application), class: 'btn btn-primary btn-sm' %></div>
            </div>
        </div>
    <% end %>
    </div>
</div>
