<p><%= @job_application.education %></p>
<p><%= @job_application.date_of_birth %></p>
<p><%= @job_application.full_name %></p>
<%= link_to 'Edit', edit_job_job_application_path(@job, @job_application.id) %>
<%= link_to 'Delete', job_job_application_path(@job, @job_application.id), method: :delete %>
