<h3 class="mb-4">Apply for this job</h3>
  <%= form.fields_for :job_applications, JobApplication.new do |job_applications_form| %>


    <div class="form-group width-50 mb-4">
      <%= job_applications_form.label :full_name %>
      <%= job_applications_form.text_field :full_name, placeholder: 'John Johnson', class: 'form-control' %>
    </div>

    <div class="form-group width-50 mb-4">
      <%= job_applications_form.label :birthday %>
      <%= job_applications_form.date_field :date_of_birth, class: 'form-control' %>
    </div>

    <div class="form-group width-50 mb-4">
      <%= job_applications_form.label :email %>
      <%= job_applications_form.email_field :email, type: 'email',placeholder: 'name@example.com', class: 'form-control' %>
    </div>

    <div class="form-group width-50 mb-4">
      <%= job_applications_form.label :phone_number %>
      <%= job_applications_form.text_field :phone_number, placeholder: '+123123123', class: 'form-control' %>
    </div>

    <div class="form-group width-50 mb-4">
      <%= job_applications_form.label :address %>
      <%= job_applications_form.text_field :address, placeholder: 'Address 123', class: 'form-control' %>
    </div>

    <div class="form-group width-50 mb-4">
      <p class="mb-1"><%= job_applications_form.label :education %></p>
      <%= job_applications_form.select :education, [['Visa strucna sprema', 'vss'], ['nk'],
                                                    ['všs'], ['Sredna strucna sprema', 'sss']], class: 'form-control' %>
    </div>

      <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
  <% end %>
